body {
  background-color: #EEEEEE;
margin: 0px;
color:darkgray;

}

#fake-out {
  margin:0px;
  width:1000px;
  text-align: center;
}

#all{
  overflow: hidden;

}

#all > img {
  width:1000px;
}



h3{

  padding-top: 30px;
  margin-left:0px;
}

#wood{
  padding:0px;
  margin:0px;
}
