body {
  background-color: #EEEEEE;
  width:1000px;
  margin-left:0px;
  margin-right: 0px;
  text-align: center;
}


#all > img {

  width:1260px;}

h3{

  padding-top: 30px;
  width:max;
  text-align: center;
  margin-left:225px;
}

#answer{
  length:80px;
}
